*::before {
    box-sizing: border-box;
}
*::after {
    box-sizing: inherit;
}
body {
    color: black;
    font-family: "Arial";
    margin: 0;
    font-size: 16px;
    background: linear-gradient(to left, #2f2f2f 0%,rgb(160, 0, 0) 100%);
}
.contenedor {
    margin: 1em auto;
    border: 2px solid #000000;
    max-width: 800px;
    background-color: #ffffff;
}
.contenedor h1 {
    font-size: 2rem;
}
#cabecera{
    margin: 0;
    background-color: #0076e4;
    font-size: 2em;
    padding: 1em;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px #000000;
    box-shadow: 0px 1px 16px 2px #5a5a5a;
}
#cabecera #tagline {
    margin-left: 1em;
    font-size: .7em;
    text-shadow: none;
    font-weight: normal;
}
#post {
    padding: 1em;
}