*::before {
    box-sizing: border-box;
}
*::after {
    box-sizing: inherit;
}
body {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(190, 74, 53) 0%, rgb(42, 42, 42) 100%);
}